<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.png?v="+ Math.trunc(Math.random()*999)>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/homePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Employee HomePage</title>
</head>

<body onload="if (document.referrer == '') self.location='login';">

    <div class="header-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <div class="logo-image">
                    <img src="images/laundryLogo.jpeg" class="img-fluid">
                </div>
            </a>
            <div class="pull-left item">
                <h1>LNM Laundry Services</h1>
            </div>
            <div class="pull-right headNav">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active listing" href="/empHomePage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link listing" href="/generateInvoice">Generate Invoice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link listing" href="/pendingLaundry">Pending Laundries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link listing" href="/allLaundry">All Laundries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link listing" href="/">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="checkStatus">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Update Laundry and Payment Status</h1>
                            </div>
                        </div>
                        <form action="/updateLaundry" method="POST" name="login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Invoice Number</label>
                                <input required type="number" name="invNumber" class="form-control" placeholder="Enter Invoice Number">
                            </div>
                            <div class="form-group">
                                <label for="userType">Update Choice</label>
                                <select class="form-control" name="updateType">
                                    <option value="both">Laundry + Payment</option>
                                    <option value="amount">Payment</option>
                                    <option value="laundry">Laundry</option>
                                </select>
                            </div>
                            <!-- <div class="form-group" id="yourPassword">
                                <p id="">User Password</p>
                            </div>
                            <div class="col-md-6 text-center ">
                                <button type="reset" class=" btn btn-block mybtn btn-primary tx-tfm">Reset</button>
                            </div> -->
                            <div class="col-md-12 text-center ">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Change to Completed</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Washing</a></li>
                        <li><a href="#">Ironing</a></li>
                        <li><a href="#">DryCleaning</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item text">
                    <h3>Contact Us</h3>
                    <ul>
                        <p>+0141 8569XXX</p>
                        <p>+91 8569XXXXXX</p>
                        <p>lnmLaundry@lnmiit.ac.in</p>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>LNM Laundry Services</h3>
                    <p class="addressTy">We provide wide range of services in washing, ironing , dry cleaning like
                        plain wash,sand ironing , soda drycleaning etc.</p>
                    <p class="addressTy">Address: Rupa ki Nangal, Post-Sumel, Via, Jamdoli, Jaipur, Rajasthan 302031
                    </p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                            class="icon ion-social-twitter"></i></a><a href="#"><i
                            class="icon ion-social-snapchat"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">LNM Laundry Services © 2021</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>